body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

header {
  background: #4a90e2;
  color: white;
  padding: 20px;
  text-align: center;
}

h2 {
  color: #4a90e2;
}

main {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 10px;
  background: #222;
  color: white;
}

.date {
  text-align: right;
  font-size: 13px;
  color: #000000;
}

pre {
  font-size: 20px;
}

.experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-size: 18px;
}

.role {
  font-weight: 600;
}

.training {
  margin: 0%;
}

.tc {
  color: hsl(0, 2%, 47%);
  margin-top: 2%;
}

.skill li {
  display: inline-block;
  background: #e0e0e0;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 5px;
  font-size: 14px;
}

@media (max-width: 700px) {
  body {
    background: #333;
    color: white;
  }

  .skill li {
    background: #575151;
  }

  .date {
    color: #bab5b5;
  }

  .tc {
    color: #e6e3e3;
  }

  h2 {
    color: #b9c4d1;
  }

  header {
    background: #b9c4d1;
    color: #333;
    padding: 20px;
    text-align: center;
  }

  main {
    padding: 20px 10px;
  }
}

section {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}


h1:hover {
  color: #246a12;
  cursor: pointer;
  transition: color 0.3s ease;
}